.water ul{
  display: inline;
  margin:0px;
  padding:0px;
}

.water li{
  display: inline;
  margin:10px;
  padding:10px;
}

.water a{
  padding:10px;
  margin:10px;
}

.water{
  background-color:#03e8fc;
  margin:0px;
  text-align: center;
}


.water li a:hover{
  background-color:#fc033d;
  color:white; 
}

body{
  margin:0px;
}

html{
  background-image: url("https://www.teahub.io/photos/full/212-2127317_butterfly-wallpaper-background-free-photo-butterfly-moon.jpg");

   min-height: 100%;
   background-size: cover;
   background-repeat: no-repeat;
  color:white;
}
